body {
  background-color: rgb(255, 247, 236);
  margin-left: 1cm;
  margin-top: 0.5cm;
}
.input-group {
  width: 30%;
}
.mb-3 {
  width: 30%;
}
#submit {
  margin-top: 20px;
}
.btn.btn-danger.dropdown-toggle {
  margin-top: 10px;
}
.col {
  margin-top: 5px;
  width: 12%;
}
#critic {
  width: 50%;
}
.apply {
  margin-top: 15px;
}
.applied {
  margin-top: 15px;
}
#submit1 {
  margin-bottom: 20px;
  margin-top: 20px;
}
